<nav>
  <!-- <h3>Your Book Store</h3> -->
  <img
    src="../../../assets/images/logo.png"
    alt="logo"
    height="50px"
    width="50px"
    style="margin-left: 30px; border-radius: 50%; border: 1px solid #fff"
  />

  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/books">Books</a></li>
    <li><a routerLink="/authors">Authors</a></li>
    <li><a routerLink="/categories">Categories</a></li>
    <li><a routerLink="/publishers">Publishers</a></li>
    <li><a routerLink="/orders">Orders</a></li>
    <li><a routerLink="/customers">Customers</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
  </ul>
</nav>
