<div class="container">
  <!-- <img src="../../../src/assets/images/logo.png" alt="logo" /> -->
  <img
    src="../../../assets/images/logo.png"
    alt="logo"
    height="70%"
    width="70%"
  />

  <h3>Your Book Store</h3>
</div>
<div class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Add Book in Store
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>

        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        <th scope="col">No. of Pages</th>
        <th scope="col">Price</th>
        <th scope="col">Publisher</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
          <th scope="row">{{ book.id }}</th>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.publisher }}</td>
          <td><button class="btn btn-primary">Edit</button></td>
          <td>
            <button class="btn btn-danger" (click)="deleteBook(book.id)">
              Delete
            </button>
          </td>
        </tr> -->

      <tr *ngFor="let book of books">
        <td scope="row">{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.published_date }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price | currency }}</td>
        <td>{{ book.publisher }}</td>
        <td><button class="btn btn-success">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div *ngFor="let book of books">
  {{ book.title }}
  {{ book.author }}
  {{ book.published_date }}
  {{ book.pages }}
  {{ book.price }}
  {{ book.publisher }}
</div> -->

<div class="container">
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter title"
                formControlName="title"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Author</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter author"
                formControlName="author"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Pages</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter pages"
                formControlName="pages"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Price</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter price"
                formControlName="price"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Publisher</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="email"
                placeholder="Enter publisher"
                formControlName="publisher"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancel"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
